<!DOCTYPE html>
<html>

<head>
	<title>龙口市康源包装有限公司计价系统</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<form>
			数量：<input type="number" name="quantity" v-model="quantity"><br>
			面积：<input type="number" name="length" step="0.001" placeholder="长" v-model="length">
			X
			<input type="number" name="width" step="0.001" placeholder="宽" v-model="width">(cm)
			=
			<label>{{ area }}</label><label>m<sup>2</sup></label><br>
			面纸：<input type="number" name="area" step="0.001" placeholder="面积" readonly="readonly" v-model="area">
			X <input type="number" name="weight" step="0.001" placeholder="克重" v-model="weight">
			X <input type="number" name="cost" step="0.001" placeholder="单价" v-model="cost">
			=
			<label>{{ paperPrice }}</label><br>
			印刷：<input type="number" name="print" step="0.001" v-model="print">
			=
			<label>{{ printAns }}</label>/张<br>
			膜：<input type="number" name="skin" step="0.001" v-model="skin">
			=
			<label>{{ skinAns }}</label>/张<br>
			纸板：<input type="number" name="plate" step="0.001" v-model="plate">
			=
			<label>{{ plateAns }}</label>/张<br>

			刀板：<input type="number" name="knife" step="0.001" v-model="knife">
			=
			<label>{{ knifeAns }}</label>/个<br>
			加工：<input type="number" name="handling" step="0.001" v-model="handling">
			格套：<input type="number" name="pattern" step="0.001" v-model="pattern">
			其他：<input type="number" name="other" step="0.001" v-model="other"><br>
			单价：{{ price }} 元
		</form>
	</div>

	<script>
		new Vue({
			el: "#app",
			data: {
				quantity: 0, //数量
				length: 0, //长
				width: 0, //宽
				area: 0, //面积
				weight: 0, //克重
				cost: 0, //成本单价
				paperPrice: 0, //面纸
				print: 0, //印刷
				printAns: 0, //印刷结果
				skin: 0, //膜
				skinAns: 0, //膜结果
				plate: 0, //纸板
				plateAns: 0, //钢板结果
				knife: 0, //刀版
				knifeAns: 0, //刀版结果

				handling: 0, //加工
				pattern: 0, //格套
				other: 0, //其他

				price: 0 //最终结果

			},
			watch: {
				quantity(cur, old) {
					this.changePrintAns();
					this.changeKnifeAns();
				},
				//面积的改变
				length(cur, old) {
					this.changeArea();
				},
				width(cur, old) {
					this.changeArea();
				},
				//单价的改变
				area(cur, old) {
					this.changeCost();
					this.changeSkinAns();
					this.changePlateAns();
				},
				weight(cur, old) {
					this.changeCost();
				},
				cost(cur, old) {
					this.changeCost();
				},
				//印刷
				print(cur, old) {
					this.changePrintAns();
					this.changePrice();
				},
				//膜
				skin(cur, old) {
					this.changeSkinAns();
					this.changePrice();
				},
				//纸板
				plate(cur, old) {
					this.changePlateAns();
					this.changePrice();
				},
				//刀版
				knife(cur, old) {
					this.changeKnifeAns();
					this.changePrice();
				},

				//最终价格联动
				paperPrice(cur, old) {
					this.changePrice();
				},
				handling(cur, old) {
					this.changePrice();
				},
				pattern(cur, old) {
					this.changePrice();
				},
				other(cur, old) {
					this.changePrice();
				},
			},
			methods: {
				changeArea() {
					this.area = Number(((this.length * this.width) / 10000).toFixed(3));
				},
				changeCost() {
					this.paperPrice = Number(((this.area * this.weight * this.cost) / 1000000).toFixed(3));
				},
				changePrintAns() {
					this.printAns = Number((this.print / this.quantity).toFixed(3));
				},
				changeSkinAns() {
					this.skinAns = Number((this.skin * this.area).toFixed(3));
				},
				changePlateAns() {
					this.plateAns = Number((this.plate * this.area).toFixed(3));
				},
				changeKnifeAns() {
					this.knifeAns = Number((this.knife / this.quantity).toFixed(3));
				},
				changePrice() {
					this.price =
						(
							this.paperPrice +
							this.printAns +
							this.skinAns +
							this.plateAns +
							this.knifeAns +
							this.handling * 1.0 +
							this.pattern * 1.0 +
							this.other * 1.0
						).toFixed(3);
				}
			},
		}) 
	</script>
</body>

</html>