<!DOCTYPE html>
<html>

<head>
	<title>烟台壹盒包装制品有限公司计价系统</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="./css/index.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
	<div id="app">
		<h1>烟台壹盒包装制品有限公司计价系统</h1>
		<form>
			数量：<input type="number" name="quantity" v-model="quantity"><br>
			面积：<input type="number" name="length" step="0.001" placeholder="长" v-model="length">
			X
			<input type="number" name="width" step="0.001" placeholder="宽" v-model="width">(cm)
			=
			<label>{{ area }}</label><label>m<sup>2</sup></label><br>
			面纸：<input type="number" name="area" step="0.001" placeholder="面积" readonly="readonly" v-model="area">
			X <input type="number" name="weight" step="0.001" placeholder="克重" v-model="weight">
			X <input type="number" name="cost" step="0.001" placeholder="单价" v-model="cost">
			=
			<label>{{ paperPrice }}</label><br>
			印刷：<input type="number" name="print" step="0.001" v-model="print">
			=
			<label>{{ printAns }}</label>/张<br>
			膜：<input type="number" name="skin" step="0.001" v-model="skin">
			=
			<label>{{ skinAns }}</label>/张<br>
			纸板：<input type="number" name="plate" step="0.001" v-model="plate">
			=
			<label>{{ plateAns }}</label>/张<br>

			刀板：<input type="number" name="knife" step="0.001" v-model="knife">
			=
			<label>{{ knifeAns }}</label>/个<br>
			加工：<input type="number" name="handling" step="0.001" v-model="handling">
			格套：<input type="number" name="pattern" step="0.001" v-model="pattern">
			其他：<input type="number" name="other" step="0.001" v-model="other"><br><br>
			单价：{{ price }} 元
		</form>
		<a href="./boxarea.html" target="_blank" rel="noopener noreferrer">next</a>
	</div>

	<script src="./js/index.js"></script>
</body>

</html>